@font-face {
    font-family: 'Nebras Serif';
    src: url('NebrasSerif-ExtraBoldItalic.eot');
    src: local('Nebras Serif ExtraBold Italic'), local('NebrasSerif-ExtraBoldItalic'),
        url('NebrasSerif-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('NebrasSerif-ExtraBoldItalic.woff2') format('woff2'),
        url('NebrasSerif-ExtraBoldItalic.woff') format('woff'),
        url('NebrasSerif-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nebras Serif';
    src: url('NebrasSerif-ExtraBold.eot');
    src: local('Nebras Serif ExtraBold'), local('NebrasSerif-ExtraBold'),
        url('NebrasSerif-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('NebrasSerif-ExtraBold.woff2') format('woff2'),
        url('NebrasSerif-ExtraBold.woff') format('woff'),
        url('NebrasSerif-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nebras Serif';
    src: url('NebrasSerif-Black.eot');
    src: local('Nebras Serif Black'), local('NebrasSerif-Black'),
        url('NebrasSerif-Black.eot?#iefix') format('embedded-opentype'),
        url('NebrasSerif-Black.woff2') format('woff2'),
        url('NebrasSerif-Black.woff') format('woff'),
        url('NebrasSerif-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nebras Serif';
    src: url('NebrasSerif-Bold.eot');
    src: local('Nebras Serif Bold'), local('NebrasSerif-Bold'),
        url('NebrasSerif-Bold.eot?#iefix') format('embedded-opentype'),
        url('NebrasSerif-Bold.woff2') format('woff2'),
        url('NebrasSerif-Bold.woff') format('woff'),
        url('NebrasSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nebras Serif';
    src: url('NebrasSerif-BoldItalic.eot');
    src: local('Nebras Serif Bold Italic'), local('NebrasSerif-BoldItalic'),
        url('NebrasSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('NebrasSerif-BoldItalic.woff2') format('woff2'),
        url('NebrasSerif-BoldItalic.woff') format('woff'),
        url('NebrasSerif-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nebras Serif';
    src: url('NebrasSerif-BlackItalic.eot');
    src: local('Nebras Serif Black Italic'), local('NebrasSerif-BlackItalic'),
        url('NebrasSerif-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('NebrasSerif-BlackItalic.woff2') format('woff2'),
        url('NebrasSerif-BlackItalic.woff') format('woff'),
        url('NebrasSerif-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nebras Serif';
    src: url('NebrasSerif-SemiBoldItalic.eot');
    src: local('Nebras Serif SemiBold Italic'), local('NebrasSerif-SemiBoldItalic'),
        url('NebrasSerif-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('NebrasSerif-SemiBoldItalic.woff2') format('woff2'),
        url('NebrasSerif-SemiBoldItalic.woff') format('woff'),
        url('NebrasSerif-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nebras Serif';
    src: url('NebrasSerif-ThinItalic.eot');
    src: local('Nebras Serif Thin Italic'), local('NebrasSerif-ThinItalic'),
        url('NebrasSerif-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('NebrasSerif-ThinItalic.woff2') format('woff2'),
        url('NebrasSerif-ThinItalic.woff') format('woff'),
        url('NebrasSerif-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nebras Serif';
    src: url('NebrasSerif-Light.eot');
    src: local('Nebras Serif Light'), local('NebrasSerif-Light'),
        url('NebrasSerif-Light.eot?#iefix') format('embedded-opentype'),
        url('NebrasSerif-Light.woff2') format('woff2'),
        url('NebrasSerif-Light.woff') format('woff'),
        url('NebrasSerif-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nebras Serif';
    src: url('NebrasSerif-Medium.eot');
    src: local('Nebras Serif Medium'), local('NebrasSerif-Medium'),
        url('NebrasSerif-Medium.eot?#iefix') format('embedded-opentype'),
        url('NebrasSerif-Medium.woff2') format('woff2'),
        url('NebrasSerif-Medium.woff') format('woff'),
        url('NebrasSerif-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nebras Serif';
    src: url('NebrasSerif-RegularItalic.eot');
    src: local('Nebras Serif Regular Italic'), local('NebrasSerif-RegularItalic'),
        url('NebrasSerif-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('NebrasSerif-RegularItalic.woff2') format('woff2'),
        url('NebrasSerif-RegularItalic.woff') format('woff'),
        url('NebrasSerif-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nebras Serif';
    src: url('NebrasSerif-ExtraLightItalic.eot');
    src: local('Nebras Serif ExtraLight Italic'), local('NebrasSerif-ExtraLightItalic'),
        url('NebrasSerif-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('NebrasSerif-ExtraLightItalic.woff2') format('woff2'),
        url('NebrasSerif-ExtraLightItalic.woff') format('woff'),
        url('NebrasSerif-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nebras Serif';
    src: url('NebrasSerif-Regular.eot');
    src: local('Nebras Serif Regular'), local('NebrasSerif-Regular'),
        url('NebrasSerif-Regular.eot?#iefix') format('embedded-opentype'),
        url('NebrasSerif-Regular.woff2') format('woff2'),
        url('NebrasSerif-Regular.woff') format('woff'),
        url('NebrasSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nebras Serif';
    src: url('NebrasSerif-SemiBold.eot');
    src: local('Nebras Serif SemiBold'), local('NebrasSerif-SemiBold'),
        url('NebrasSerif-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('NebrasSerif-SemiBold.woff2') format('woff2'),
        url('NebrasSerif-SemiBold.woff') format('woff'),
        url('NebrasSerif-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nebras Serif';
    src: url('NebrasSerif-Thin.eot');
    src: local('Nebras Serif Thin'), local('NebrasSerif-Thin'),
        url('NebrasSerif-Thin.eot?#iefix') format('embedded-opentype'),
        url('NebrasSerif-Thin.woff2') format('woff2'),
        url('NebrasSerif-Thin.woff') format('woff'),
        url('NebrasSerif-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nebras Serif';
    src: url('NebrasSerif-LightItalic.eot');
    src: local('Nebras Serif Light Italic'), local('NebrasSerif-LightItalic'),
        url('NebrasSerif-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('NebrasSerif-LightItalic.woff2') format('woff2'),
        url('NebrasSerif-LightItalic.woff') format('woff'),
        url('NebrasSerif-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nebras Serif';
    src: url('NebrasSerif-MediumItalic.eot');
    src: local('Nebras Serif Medium Italic'), local('NebrasSerif-MediumItalic'),
        url('NebrasSerif-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('NebrasSerif-MediumItalic.woff2') format('woff2'),
        url('NebrasSerif-MediumItalic.woff') format('woff'),
        url('NebrasSerif-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nebras Serif';
    src: url('NebrasSerif-ExtraLight.eot');
    src: local('Nebras Serif ExtraLight'), local('NebrasSerif-ExtraLight'),
        url('NebrasSerif-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('NebrasSerif-ExtraLight.woff2') format('woff2'),
        url('NebrasSerif-ExtraLight.woff') format('woff'),
        url('NebrasSerif-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

